<p id="notice"><%= notice %></p>

<p>
  <strong>Shelf:</strong>
  <%= @book.shelf %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.fullname %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.title %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
